<div class="row">
  <div class="col-md-1 justify-content-center rounded-pill d-flex"
       style="overflow: hidden; top: auto; border: 1px solid white">
    <ul class="list-group">
      <li class="list-group-item transparent-bg text-warning" style="font-size: x-large">item 0
      </li>
      <li class="list-group-item transparent-bg text-warning" style="font-size: x-large">item 1</li>
      <li class="list-group-item transparent-bg text-warning" style="font-size: x-large">item 2</li>
      <li class="list-group-item transparent-bg text-warning" style="font-size: x-large">item 3</li>
      <li class="list-group-item transparent-bg text-warning" style="font-size: x-large">item 4</li>
      <li class="list-group-item transparent-bg text-warning" style="font-size: x-large">item 5</li>
      <li class="list-group-item transparent-bg text-warning" style="font-size: x-large">item 6</li>
      <li class="list-group-item transparent-bg text-warning" style="font-size: x-large">item 7</li>
      <li class="list-group-item transparent-bg text-warning" style="font-size: x-large">item 8</li>
      <li class="list-group-item transparent-bg text-warning" style="font-size: x-large">item 9</li>
      <li class="list-group-item transparent-bg text-warning" style="font-size: x-large">item 10</li>
      <li class="list-group-item transparent-bg text-warning" style="font-size: x-large">item 11</li>
      <li class="list-group-item transparent-bg text-warning" style="font-size: x-large">item 12</li>
    </ul>
  </div>
  <div class="col-md-11 justify-content-center align-items-center d-flex">
    <div class="card text-bg-dark px-0 justify-content-center align-items-center d-flex w-100 h-100 bg-transparent p-3"
         style="background-color: rgba(0, 255, 0, 0.5);">
      <div class="row row-cols-1 row-cols-md-5 g-4">

        <form [formGroup]="rfContract" *ngIf="rfContract" (ngSubmit)="onSubmit()">
          <div class="modal-body">
            <table class="table text-white">
              <thead>
              <tr>
                <th scope="col">Start Date</th>
                <td><input type="date" id="startDate" formControlName="startDate">
                  <span style="color: red"
                        *ngIf="rfContract.controls.startDate.touched && rfContract.controls.startDate?.errors?.required">
                    Phải nhập trường này.</span>
                  <span style="color: red"
                        *ngIf="rfContract.controls.startDate.touched && rfContract.controls.startDate?.errors?.invalidstartdate">
                    Ngày làm hợp đồng không hợp lệ.</span>
                </td>
              </tr>
              <tr>
                <th scope="col">End Date</th>
                <td><input type="date" id="endDate" formControlName="endDate">
                  <span style="color: red"
                        *ngIf="rfContract.controls.endDate.touched && rfContract.controls.endDate?.errors?.required">
                    Phải nhập trường này.</span>
                  <span style="color: red"
                        *ngIf="rfContract.controls.endDate.touched && rfContract.controls.endDate?.errors?.invalidenddate">
                    Ngày kết thúc hợp đồng không hợp lệ.</span>
                </td>
              </tr>
              <tr>
                <th scope="col">Deposit</th>
                <td><input type="text" id="deposit" formControlName="deposit"></td>
                <span style="color: red"
                      *ngIf="rfContract.controls.deposit.touched && rfContract.controls.deposit?.errors?.required">
                    Phải nhập trường này.</span>
                <span style="color: red"
                      *ngIf="rfContract.controls.deposit.touched && rfContract.controls.deposit?.errors?.pattern">
                    Tiền đặt cộc phải là số nguyên dương</span>
              </tr>
              <tr>
                <th scope="col">Customer</th>
                <td>
                  <select id="customer" formControlName="customers">
                    <option value="" disabled selected>Choose Customer</option>
                    <option *ngFor="let customer of customers" [ngValue]="customer">{{customer}}
                    </option>
                  </select>
                </td>
              </tr>
              <tr>
                <th scope="col">Facility</th>
                <td>
                  <select id="facility" formControlName="facilitys">
                    <option value="" disabled selected>Choose Facility</option>
                    <option *ngFor="let facility of facilitys" [ngValue]="facility">{{facility}}
                    </option>
                  </select>
                </td>
              </tr>
              <tr>
                <th scope="col">Employee</th>
                <td>
                  <select id="employee" formControlName="employees">
                    <option value="" disabled selected>Choose Employee</option>
                    <option *ngFor="let employee of employees" [ngValue]="employee">{{employees}}
                    </option>
                  </select>
                </td>
              </tr>
              <tr>
                <th></th>
                <td></td>
              </tr>
              </thead>
            </table>
          </div>

          <div>
            <button type="button" class="btn btn-sm btn-secondary">Cancel</button>
            <button type="submit" [disabled]="rfContract.invalid"  class="btn btn-sm btn-primary">Save</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
