<div class="row">
  <div class="col-md-1 justify-content-center rounded-pill d-flex" style="overflow: hidden; top: auto; border: 1px solid white">
    <ul class="list-group">
      <li class="list-group-item transparent-bg text-warning" style="font-size: x-large">item 0
      </li>
      <li class="list-group-item transparent-bg text-warning" style="font-size: x-large">item 1</li>
      <li class="list-group-item transparent-bg text-warning" style="font-size: x-large">item 2</li>
      <li class="list-group-item transparent-bg text-warning" style="font-size: x-large">item 3</li>
      <li class="list-group-item transparent-bg text-warning" style="font-size: x-large">item 4</li>
      <li class="list-group-item transparent-bg text-warning" style="font-size: x-large">item 5</li>
      <li class="list-group-item transparent-bg text-warning" style="font-size: x-large">item 6</li>
      <li class="list-group-item transparent-bg text-warning" style="font-size: x-large">item 7</li>
      <li class="list-group-item transparent-bg text-warning" style="font-size: x-large">item 8</li>
      <li class="list-group-item transparent-bg text-warning" style="font-size: x-large">item 9</li>
      <li class="list-group-item transparent-bg text-warning" style="font-size: x-large">item 10</li>
      <li class="list-group-item transparent-bg text-warning" style="font-size: x-large">item 11</li>
      <li class="list-group-item transparent-bg text-warning" style="font-size: x-large">item 12</li>
    </ul>
  </div>
  <div class="col-md-11 justify-content-center align-items-center d-flex">
    <div class="card text-bg-dark px-0 justify-content-center align-items-center d-flex w-100 h-100 bg-transparent p-3"
         style="background-color: rgba(0, 255, 0, 0.5);">
      <div class="row row-cols-1 row-cols-md-5 g-4">

        <form  method="post">
          <div class="modal-body">
            <table class="table">
              <thead>
              <tr>
                <th scope="col">Start Date</th>
                <td><input type="date" id="startDate" >
                  <span></span>
                </td>
              </tr>
              <tr>
                <th scope="col">End Date</th>
                <td><input type="date" id="endDate" >
                  <span ></span>
                </td>
              </tr>
              <tr>
                <th scope="col">Deposit</th>
                <td><input type="text" id="deposit" ></td>
              </tr>
              <tr>
                <th scope="col">Total Cost</th>
                <td><input type="text" id="totalCost" readonly></td>
              </tr>
              <tr>
                <th scope="col">Customer</th>
                <td>
                  <select id="customer">
                    <option value="" disabled selected>Choose Customer</option>
                    <option >
                    </option>
                  </select>
                </td>
              </tr>
              <tr>
                <th scope="col">Facility</th>
                <td>
                  <select  id="facility">
                    <option value="" disabled selected>Choose Facility</option>
                    <option >
                    </option>
                  </select>
                </td>
              </tr>
              <tr>
                <th scope="col">Employee</th>
                <td>
                  <select id="employee">
                    <option value="" disabled selected>Choose Employee</option>
                    <option>
                    </option>
                  </select>
                </td>
              </tr>
              <tr>
                <th></th>
                <td></td>
              </tr>
              </thead>
            </table>
            <button type="button" class="btn btn-sm btn-primary" onclick="showFormCreateContractDetail()">+
            </button>
            <table id="addContractDetail">
              <thead>
              <tr>
                <td>
                  <input type="checkbox"/>
                </td>
                <td>
                  <input type="text">
                </td>
                <td>
                  <input style="width: 100px" type="number" id="quantityAttachFacility"/>
                </td>
              </tr>
              </thead>
            </table>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-secondary" >Cancel
            </button>
            <button type="button" class="btn btn-sm btn-primary">Save</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
