<div class="row">
  <div class="col-md-1 justify-content-center d-flex" style="background-color: #a3cfbb; top: auto">
    <ul class="list-group">
      <li class="list-group-item disabled" style="font-size: x-large; background-color: #a3cfbb">item 0
      </li>
      <li class="list-group-item" style="font-size: x-large; background-color: #a3cfbb">item 1</li>
      <li class="list-group-item" style="font-size: x-large; background-color: #a3cfbb">item 2</li>
      <li class="list-group-item" style="font-size: x-large; background-color: #a3cfbb">item 3</li>
      <li class="list-group-item" style="font-size: x-large; background-color: #a3cfbb">item 4</li>
    </ul>
  </div>
  <div class="col-md-11 justify-content-center align-items-center d-flex">
    <div class="card text-bg-dark px-0 justify-content-center align-items-center d-flex w-100 h-100">
      <img
        src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/23/cf/6a/fa/courtyard-night-time.jpg?w=1400&h=-1&s=1"
        class="card-img"
        alt="img">
      <div class="card-img-overlay px-0">
        <form class="form"  method="post">
          <table class="table">
            <thead>
            <tr>
              <th scope="col">Name</th>
              <td>
                <input  required title=" Tên không đúng định dạng"
                        type="text" placeholder="nhập tên" >
                <span style="color: red" ></span>
              </td>

            </tr>
            <tr>
              <th scope="col">Birthday</th>
              <td><input type="date" >
                <span style="color: red" ></span>
              </td>
            </tr>
            <tr>
              <th scope="col">Gender</th>
              <td>
                <input type="radio" >Male
                <input type="radio" >Female
              </td>
            </tr>
            <tr>
              <th scope="col">Id Card</th>
              <td>
                <input type="text" ><br>
                <span style="color: red" ></span>
              </td>
            </tr>
            <tr>
              <th scope="col">Phone</th>
              <td>
                <input type="text" ><br>
                <span style="color: red" ></span>
              </td>
            </tr>
            <tr>
              <th scope="col">Email</th>
              <td>

                <input type="text" ><br>
                <span style="color: red" ></span>
              </td>
            </tr>
            <tr>
              <th scope="col">Customer Type</th>
              <td>
                <select >
                  <option >
                  </option>
                </select>
              </td>
            </tr>
            <tr>
              <th scope="col">Address</th>
              <td>
                <input >
                <span ></span>
              </td>
            </tr>
            <tr>
              <th scope="col"></th>
              <td><input id="btnSave" type="submit" value="Add new customers"></td>
            </tr>
            </thead>
          </table>
        </form>
      </div>
    </div>
  </div>
</div>

