<div class="row">
  <div class="col-md-1 justify-content-center rounded-pill d-flex" style="overflow: hidden; top: auto; border: 1px solid white">
    <ul class="list-group">
      <li class="list-group-item transparent-bg text-warning" style="font-size: x-large">item 0
      </li>
      <li class="list-group-item transparent-bg text-warning" style="font-size: x-large">item 1</li>
      <li class="list-group-item transparent-bg text-warning" style="font-size: x-large">item 2</li>
      <li class="list-group-item transparent-bg text-warning" style="font-size: x-large">item 3</li>
      <li class="list-group-item transparent-bg text-warning" style="font-size: x-large">item 4</li>
      <li class="list-group-item transparent-bg text-warning" style="font-size: x-large">item 5</li>
      <li class="list-group-item transparent-bg text-warning" style="font-size: x-large">item 6</li>
      <li class="list-group-item transparent-bg text-warning" style="font-size: x-large">item 7</li>
      <li class="list-group-item transparent-bg text-warning" style="font-size: x-large">item 8</li>
      <li class="list-group-item transparent-bg text-warning" style="font-size: x-large">item 9</li>
      <li class="list-group-item transparent-bg text-warning" style="font-size: x-large">item 10</li>
      <li class="list-group-item transparent-bg text-warning" style="font-size: x-large">item 11</li>
      <li class="list-group-item transparent-bg text-warning" style="font-size: x-large">item 12</li>
    </ul>
  </div>
  <div class="col-md-11 justify-content-center align-items-center d-flex">
    <div class="card text-bg-dark px-0 justify-content-center align-items-center d-flex w-100 h-100 bg-transparent p-3"
         style="background-color: rgba(0, 255, 0, 0.5);">
      <div class="row row-cols-1 row-cols-md-5 g-4">

        <form  method="post">
          <div class="modal-body">
            <table class="table">
              <thead>
              <tr hidden>
                <th scope="col">ID</th>
                <td><input type="text" id="id" ></td>
              </tr>
              <tr>
                <th scope="col">Name</th>
                <td><input type="text" id="name" ></td>
              </tr>
              <tr>
                <th scope="col">Area</th>
                <td><input type="text" id="area" ></td>
              </tr>
              <tr>
                <th scope="col">Aost</th>
                <td><input type="text" id="cost" ></td>
              </tr>
              <tr>
                <th scope="col">Max People</th>
                <td><input type="text" id="maxPeople" ></td>
              </tr>
              <tr>
                <th scope="col">Standard Room</th>
                <td><input type="text" id="standardRoom" ></td>
              </tr>
              <tr>
                <th scope="col">Description Other Convenience</th>
                <td><input type="text" id="descriptionOtherConvenience"></td>
              </tr>
              <tr>
                <th scope="col">Pool Area</th>
                <td><input type="text" id="poolArea" ></td>
              </tr>
              <tr>
                <th scope="col">Number Of Floors</th>
                <td><input type="text" id="numberOfFloors" ></td>
              </tr>
              <tr>
                <th scope="col">Facility Free</th>
                <td><input type="text" id="facilityFree" ></td>
              </tr>
              <tr>
                <th scope="col">Facility Type</th>
                <td>
                  <select  id="faType" >
                    <option >
                    </option>
                  </select>
                </td>
              </tr>
              <tr>
                <th scope="col">Rent Type</th>
                <td>
                  <select id="reType">
                    <option >
                    </option>
                  </select>
                </td>
              </tr>
              </thead>
            </table>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-secondary">Cancel</button>
            <button type="submit" class="btn btn-sm btn-primary">Edit</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
