<div class="row">
  <div class="col-md-1 justify-content-center d-flex" style="background-color: #a3cfbb; top: auto">
    <ul class="list-group">
      <li class="list-group-item disabled" style="font-size: x-large; background-color: #a3cfbb">item 0
      </li>
      <li class="list-group-item" style="font-size: x-large; background-color: #a3cfbb">item 1</li>
      <li class="list-group-item" style="font-size: x-large; background-color: #a3cfbb">item 2</li>
      <li class="list-group-item" style="font-size: x-large; background-color: #a3cfbb">item 3</li>
      <li class="list-group-item" style="font-size: x-large; background-color: #a3cfbb">item 4</li>
    </ul>
  </div>
  <div class="col-md-11 justify-content-center align-items-center d-flex">
    <div class="card text-bg-dark px-0 justify-content-center align-items-center d-flex w-100 h-100">
      <img
        src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/23/cf/6a/fa/courtyard-night-time.jpg?w=1400&h=-1&s=1"
        class="card-img"
        alt="img">
      <div class="card-img-overlay">

        <form  method="post">
          <div class="modal-body">
            <table class="table">
              <thead>
              <tr hidden>
                <th scope="col">ID</th>
                <td><input type="text" id="id" ></td>
              </tr>
              <tr>
                <th scope="col">Name</th>
                <td><input type="text" id="name" ></td>
              </tr>
              <tr>
                <th scope="col">Area</th>
                <td><input type="text" id="area" ></td>
              </tr>
              <tr>
                <th scope="col">Aost</th>
                <td><input type="text" id="cost" ></td>
              </tr>
              <tr>
                <th scope="col">Max People</th>
                <td><input type="text" id="maxPeople" ></td>
              </tr>
              <tr>
                <th scope="col">Standard Room</th>
                <td><input type="text" id="standardRoom" ></td>
              </tr>
              <tr>
                <th scope="col">Description Other Convenience</th>
                <td><input type="text" id="descriptionOtherConvenience"></td>
              </tr>
              <tr>
                <th scope="col">Pool Area</th>
                <td><input type="text" id="poolArea" ></td>
              </tr>
              <tr>
                <th scope="col">Number Of Floors</th>
                <td><input type="text" id="numberOfFloors" ></td>
              </tr>
              <tr>
                <th scope="col">Facility Free</th>
                <td><input type="text" id="facilityFree" ></td>
              </tr>
              <tr>
                <th scope="col">Facility Type</th>
                <td>
                  <select  id="faType" >
                    <option >
                    </option>
                  </select>
                </td>
              </tr>
              <tr>
                <th scope="col">Rent Type</th>
                <td>
                  <select id="reType">
                    <option >
                    </option>
                  </select>
                </td>
              </tr>
              </thead>
            </table>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-secondary" >Cancel</button>
            <button type="submit" class="btn btn-sm btn-primary">Edit</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
