<div class="name-card">
  <div class="name-card__content-left">
    <img src="https://scontent.fsgn2-5.fna.fbcdn.net/v/t39.30808-6/316936085_3318437428410470_7025889446870699204_n.jpg?stp=dst-jpg_p600x600&_nc_cat=104&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=FkAhLLcN3acAX-ovVLF&_nc_ht=scontent.fsgn2-5.fna&oh=00_AfDfwuYMmMiNx74ADKeko5u7PCt6sNbofJ3GpnRceRDFgQ&oe=640DFE01" alt="Logo" class="name-card__avatar">
  </div>
  <div class="name-card__content-right">
    <h3 class="name-card__heading">{{ cardName }}</h3>
    <p class="name-card__text">{{ email }}</p>
    <p class="name-card__text">{{ phone }}</p>
  </div>
</div>
