<div class="col-md-1 justify-content-center d-flex" style="background-color: #a3cfbb; top: auto">
  <ul class="list-group">
    <li class="list-group-item disabled" style="font-size: x-large; background-color: #a3cfbb">item 0
    </li>
    <li class="list-group-item" style="font-size: x-large; background-color: #a3cfbb">item 1</li>
    <li class="list-group-item" style="font-size: x-large; background-color: #a3cfbb">item 2</li>
    <li class="list-group-item" style="font-size: x-large; background-color: #a3cfbb">item 3</li>
    <li class="list-group-item" style="font-size: x-large; background-color: #a3cfbb">item 4</li>
  </ul>
</div>
