<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div></div>
<div class="row bg-success">
    <div class="col-md-2"></div>
    <div class="col-md-8 bg-">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand text-white">Home</a>
                <div class="collapse navbar-collapse" id="navbarScroll">
                    <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">

                        <!--                        Employee button-->
                        <li class="nav-item">
                            <a class="nav-link active text-white" aria-current="page"
                               href="/Employees">Employee</a>
                        </li>
                        <!--                        Customer button-->
                        <li class="nav-item">
                            <a class="nav-link text-white">Customer</a>
                        </li>

                        <!--                        Service button-->
                        <li class="nav-item dropdown">
                            <a class="nav-link text-white">Service</a>
                        </li>

                        <!--                        Contrac button-->
                        <li class="nav-item">
                            <a class="nav-link text-white">Contrac</a>
                        </li>
                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Name Search" aria-label="Search"
                               name="nameSearch">
                        <select name="id" class="form-select" aria-label="Default select example">
                            <option value="" disabled selected>Facility Type Search</option>
                            <option></option>
                        </select>
                        <button class="btn btn-primary text-white" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </div>
    <div class="col-md-2"></div>
</div>
<div class="row">
    <div th:replace="/layout::leftContent"></div>
    <div class="col-md-11 vh-100">
        <p>
            <button type="button"
                    class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createModal" onclick="onModal()">
                Add New Facility
            </button>
        </p>
        <table id="table123" class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th hidden scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Area</th>
                <th scope="col">Cost</th>
                <th scope="col">Max People</th>
                <th scope="col">Standard Room</th>
                <th scope="col">Description Other Convenience</th>
                <th scope="col">Pool Area</th>
                <th scope="col">Number Of Floors</th>
                <th scope="col">Facility Free</th>
                <th scope="col">Facility Type</th>
                <th scope="col">Rent Type</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <button type="button"
                            class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal">
                        Edit
                    </button>
                </td>
                <td>
                    <button type="button"
                            class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
                        Delete
                    </button>
                </td>
            </tr>

            </tbody>
        </table>
        <span>
    <a>Trước</a></span>
        <span>/</span>
        <span></span>
        <span><a>Sau</a></span>
    </div>
</div>



<footer></footer>
</body>

</html>