<div class="row">
  <div class="col-md-1 justify-content-center d-flex" style="background-color: #a3cfbb; top: auto">
    <ul class="list-group">
      <li class="list-group-item disabled" style="font-size: x-large; background-color: #a3cfbb">item 0
      </li>
      <li class="list-group-item" style="font-size: x-large; background-color: #a3cfbb">item 1</li>
      <li class="list-group-item" style="font-size: x-large; background-color: #a3cfbb">item 2</li>
      <li class="list-group-item" style="font-size: x-large; background-color: #a3cfbb">item 3</li>
      <li class="list-group-item" style="font-size: x-large; background-color: #a3cfbb">item 4</li>
    </ul>
  </div>
  <div class="col-md-11 justify-content-center align-items-center d-flex">
    <div class="card text-bg-dark px-0 justify-content-center align-items-center d-flex w-100 h-100">
      <img
        src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/23/cf/6a/fa/courtyard-night-time.jpg?w=1400&h=-1&s=1"
        class="card-img"
        alt="img">
      <div class="card-img-overlay">

        <div class="card m-3 shadow rounded" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


