<h2 class="text-center">
  Edit Product
</h2>
<div class="col-md-8 offset-md-2">
  <form [formGroup]="rfProduct" (ngSubmit)="onSubmit(id)">
    <table>
      <tr>
        <th>Name:</th>
        <td><input type="text" formControlName="name" class="form-control"></td>
      </tr>
      <tr>
        <th>Price</th>
        <td><input type="text" formControlName="price" class="form-control"></td>
      </tr>
      <tr>
        <th>Description</th>
        <td><input type="text" formControlName="description" class="form-control"></td>
      </tr>
      <tr>
        <th>Category</th>
        <td>
          <select class="form-control" formControlName="category">
            <option  *ngFor="let category of categorys"
            [value]="category">{{category.name}}</option>
          </select>
        </td>
      </tr>
      <tr>
        <th></th>
        <td><button type="submit" [disabled]="rfProduct.invalid" class="btn btn-primary">Submit</button></td>
      </tr>
    </table>
  </form>
</div>
