<div>
  <div class="row">
    <div class="col-md-3 justify-content-center d-flex ">
      <img src="../../assets/20220621154454120_furama-removebg-preview.png" alt="logo" style="width: 60%">
    </div>
    <div class="col-md-6 justify-content-center align-items-center d-flex">
      <h3 class="text-info"></h3>
    </div>
    <div class="col-md-3 justify-content-center align-items-center d-flex">
      <h1 class="text-info" style="font-family: Magneto">Bui Duc Vu</h1>
    </div>
  </div>
</div>
<div class="row bg-dark">
  <div class="col-md-2"></div>
  <div class="col-md-8 bg-">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand text-white">Home</a>
        <div class="collapse navbar-collapse" id="navbarScroll">
          <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">

            <!--                        Employee button-->
            <li class="nav-item">
              <a class="nav-link active text-white" aria-current="page"
                 href="/Employees">Employee</a>
            </li>
            <!--                        Customer button-->
            <li class="nav-item">
              <a class="nav-link text-white">Customer</a>
            </li>

            <!--                        Service button-->
            <li class="nav-item dropdown">
              <a class="nav-link text-white">Service</a>
            </li>

            <!--                        Contrac button-->
            <li class="nav-item">
              <a class="nav-link text-white">Contrac</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2 transparent-bg" type="search" placeholder="Name Search" aria-label="Search"
                   name="name">
            <button class="btn btn-primary text-white" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
  </div>
  <div class="col-md-2"></div>
</div>
